#map_container {
	background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
}

#world {
    position: absolute;
	/*user-drag: none;*/
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
    z-index: 0;
    /*object-fit: contain;*/
    touch-action: none;
}

#infos {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 2;
	color: white;
	font-size: 20px;
	z-index: 999;
}

#barrier {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
	box-shadow: inset 0px 0px 20px 10px #00000085;
    z-index: 1;
}