#map_container {
	background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
	animation: map-in 0.75s;
}

#world {
    position: absolute;
	/*user-drag: none;*/
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
    z-index: 0;
    /*object-fit: contain;*/
    touch-action: none;
}

#infos {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 2;
	color: white;
	font-size: 20px;
	z-index: 999;
}

#barrier {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
	box-shadow: inset 0px 0px 20px 10px #00000085;
    z-index: 1;
	animation: shadow-in 1.5s;
}

@keyframes map-in {
	from {
		scale: 1.2;
		opacity: 0;
	}

	to {
		scale: 1;
		opacity: 100;
	}
}

@keyframes shadow-in {
	from { box-shadow: none }
	25% { box-shadow: none }
	to { box-shadow: inset 0px 0px 20px 10px #00000085 }
}