* {
	padding: 0px;
	margin: 0px;
}

.rubik-400 {
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.rubik-300 {
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}