* {
	padding: 0px;
	margin: 0px;
}

#root {
	overflow: hidden;
	background-color: rgb(0, 0, 0);
}

.rubik-400 {
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.rubik-300 {
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}